h1 {
  width: 200px;
  background-color: lightgray;
  margin: 100px auto;
  text-align: center;
  padding: 20px;
}

.room {
  width: 100px;
  height: 100px;
  background-color: rgb(77, 77, 66);
  color: azure;
  margin: auto;
  
}

.btn {
  border: none;
  margin: 1% 40%;
  padding: 10px;
}

.big_box {
  width: 400px;
  height: 400px;
  background-color: blueviolet;
}
.box1 {
  width: 60px;
  height: 20px;
  background-color: rgb(177, 169, 169);
  margin: 20px;
}